# Inicialização de workspace

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('train.csv')
df.head()

,channelGrouping,date,device,fullVisitorId,geoNetwork,sessionId,socialEngagementType,totals,trafficSource,visitId,visitNumber,visitStartTime
0,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",9674781571160116268,"{""continent"": ""Asia"", ""subContinent"": ""Southea...",9674781571160116268_1472804607,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472804607,1,1472804607
1,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",8590648239310839049,"{""continent"": ""Europe"", ""subContinent"": ""Easte...",8590648239310839049_1472835928,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472835928,1,1472835928
2,Affiliates,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",9772828344252850532,"{""continent"": ""Americas"", ""subContinent"": ""Sou...",9772828344252850532_1472856802,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""Data Share Promo"", ""source"": ""Pa...",1472856802,1,1472856802
3,Organic Search,20160902,"{""browser"": ""Safari"", ""browserVersion"": ""not a...",1350700416054916432,"{""continent"": ""Americas"", ""subContinent"": ""Nor...",1350700416054916432_1472879649,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472879649,2,1472879649
4,Organic Search,20160902,"{""browser"": ""Safari"", ""browserVersion"": ""not a...",1350700416054916432,"{""continent"": ""Americas"", ""subContinent"": ""Nor...",1350700416054916432_1472829671,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""5"", ""pageviews"": ""4"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472829671,1,1472829671

# Análise superficial

In [8]:
len(df.fullVisitorId.unique())

9996

In [10]:
df.dtypes

channelGrouping         object
date                     int64
device                  object
fullVisitorId           uint64
geoNetwork              object
sessionId               object
socialEngagementType    object
totals                  object
trafficSource           object
visitId                  int64
visitNumber              int64
visitStartTime           int64
dtype: object

# Expanção de colunas

In [13]:
import json

In [23]:
columns = [] # Lista para armazenar colunas expandidas
columns_to_expand = ['trafficSource', 'device', 'totals', 'geoNetwork'] # Seleção de colunas à serem expandidas

#=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=
# Loop:
#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
# Para cada linha presente na coluna dentro da lista de colunas à serem expandidas, converta a coluna em um 
# dicionário, transforme-o em um DataFrame Pandas e coloque dentro de uma lista já criada chamada de coluna
#--------------------------------------------------------------------------------------------------------------
for i in columns_to_expand: 
    columns.append(pd.DataFrame([json.loads(linha) for linha in df[i]]))
#=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=/=\=

# Cocatenação de todas as colunas na lista que foi criada para junção em um único DataFrame
df_expanded = pd.concat(columns, axis = 'columns')

df[df_expanded.columns] = df_expanded # Inclusão de colunas expandidas para o DataFrame
df # Checando o DataFrame resultante

In [31]:
df.drop(columns=columns_to_expand, inplace=True, errors = 'ignore') # Drop de colunas que já foram expandidas
df.head(5)

,channelGrouping,date,fullVisitorId,sessionId,socialEngagementType,visitId,visitNumber,visitStartTime,campaign,source,...,subContinent,country,region,metro,city,cityId,networkDomain,latitude,longitude,networkLocation
0,Organic Search,20160902,9674781571160116268,9674781571160116268_1472804607,Not Socially Engaged,1472804607,1,1472804607,(not set),google,...,Southeast Asia,Singapore,(not set),(not set),Singapore,not available in demo dataset,unknown.unknown,not available in demo dataset,not available in demo dataset,not available in demo dataset
1,Organic Search,20160902,8590648239310839049,8590648239310839049_1472835928,Not Socially Engaged,1472835928,1,1472835928,(not set),google,...,Eastern Europe,Poland,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,tpnet.pl,not available in demo dataset,not available in demo dataset,not available in demo dataset
2,Affiliates,20160902,9772828344252850532,9772828344252850532_1472856802,Not Socially Engaged,1472856802,1,1472856802,Data Share Promo,Partners,...,South America,Argentina,Buenos Aires,(not set),Buenos Aires,not available in demo dataset,phonevision.com.ar,not available in demo dataset,not available in demo dataset,not available in demo dataset
3,Organic Search,20160902,1350700416054916432,1350700416054916432_1472879649,Not Socially Engaged,1472879649,2,1472879649,(not set),google,...,Northern America,United States,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,comcast.net,not available in demo dataset,not available in demo dataset,not available in demo dataset
4,Organic Search,20160902,1350700416054916432,1350700416054916432_1472829671,Not Socially Engaged,1472829671,1,1472829671,(not set),google,...,Northern America,United States,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,att.net,not available in demo dataset,not available in demo dataset,not available in demo dataset

# Limpeza de dados

## Seleção de atributos relevantes

In [41]:
for i in df.columns:
    tamanho_i = len(df[i].unique())
    print(f'{i}: {tamanho_i}')

channelGrouping: 8
date: 366
fullVisitorId: 9996
sessionId: 12276
socialEngagementType: 1
visitId: 12272
visitNumber: 50
visitStartTime: 12279
campaign: 7
source: 76
medium: 7
keyword: 129

TypeError: unhashable type: 'dict'

In [42]:
missed_columns_to_expand = []
for i in df.columns:
    try:
        tamanho_i = len(df[i].unique())
    except(TypeError):
        missed_columns_to_expand.append(i)
missed_columns_to_expand

['adwordsClickInfo']

In [49]:
df.drop(columns=missed_columns_to_expand, errors='ignore', inplace=True)
df

,channelGrouping,date,fullVisitorId,sessionId,socialEngagementType,visitId,visitNumber,visitStartTime,campaign,source,...,subContinent,country,region,metro,city,cityId,networkDomain,latitude,longitude,networkLocation
0,Organic Search,20160902,9674781571160116268,9674781571160116268_1472804607,Not Socially Engaged,1472804607,1,1472804607,(not set),google,...,Southeast Asia,Singapore,(not set),(not set),Singapore,not available in demo dataset,unknown.unknown,not available in demo dataset,not available in demo dataset,not available in demo dataset
1,Organic Search,20160902,8590648239310839049,8590648239310839049_1472835928,Not Socially Engaged,1472835928,1,1472835928,(not set),google,...,Eastern Europe,Poland,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,tpnet.pl,not available in demo dataset,not available in demo dataset,not available in demo dataset
2,Affiliates,20160902,9772828344252850532,9772828344252850532_1472856802,Not Socially Engaged,1472856802,1,1472856802,Data Share Promo,Partners,...,South America,Argentina,Buenos Aires,(not set),Buenos Aires,not available in demo dataset,phonevision.com.ar,not available in demo dataset,not available in demo dataset,not available in demo dataset
3,Organic Search,20160902,1350700416054916432,1350700416054916432_1472879649,Not Socially Engaged,1472879649,2,1472879649,(not set),google,...,Northern America,United States,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,comcast.net,not available in demo dataset,not available in demo dataset,not available in demo dataset
4,Organic Search,20160902,1350700416054916432,1350700416054916432_1472829671,Not Socially Engaged,1472829671,1,1472829671,(not set),google,...,Northern America,United States,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,att.net,not available in demo dataset,not available in demo dataset,not available in demo dataset
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12278,Social,20170104,7330357551242339916,7330357551242339916_1483540608,Not Socially Engaged,1483540608,1,1483540608,(not set),youtube.com,...,Eastern Europe,Poland,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown,not available in demo dataset,not available in demo dataset,not available in demo dataset
12279,Social,20170104,696320405243257438,0696320405243257438_1483580407,Not Socially Engaged,1483580407,1,1483580407,(not set),youtube.com,...,Western Europe,Germany,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,vodafone-ip.de,not available in demo dataset,not available in demo dataset,not available in demo dataset
12280,Social,20170104,5437703324867866371,5437703324867866371_1483592122,Not Socially Engaged,1483592122,1,1483592122,(not set),youtube.com,...,Southern Asia,India,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,(not set),not available in demo dataset,not available in demo dataset,not available in demo dataset
12281,Social,20170104,8869363093179043393,8869363093179043393_1483601927,Not Socially Engaged,1483601927,2,1483601927,(not set),youtube.com,...,Northern Europe,Lithuania,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,cgates.lt,not available in demo dataset,not available in demo dataset,not available in demo dataset
12282,Social,20170104,2905034275926274980,2905034275926274980_1483593737,Not Socially Engaged,1483593737,1,1483593737,(not set),youtube.com,...,Southern Africa,South Africa,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,xpressgt.co.za,not available in demo dataset,not available in demo dataset,not available in demo dataset

In [52]:
unique_values = []
columns_name = []
for i in df.columns:
    unique_values.append(len(df[i].unique()))
    columns_name.append(i)
df_n_unique_values = pd.DataFrame(dict({'column_name':columns_name, 'n_unique_values':unique_values}))
df_n_unique_values.sort_values('n_unique_values', ascending=False)

                  column_name  n_unique_values
7              visitStartTime            12279
3                   sessionId            12276
5                     visitId            12272
2               fullVisitorId             9996
45              networkDomain             1747
1                        date              366
43                       city              296
41                     region              212
13               referralPath              198
37         transactionRevenue              147
40                    country              145
11                    keyword              129
33                       hits               96
9                      source               76
34                  pageviews               75
42                      metro               53
6                 visitNumber               50
39               subContinent               22
16                    browser               22
14                  adContent               16
19            operatingSystem               12
0             channelGrouping                8
10                     medium                7
8                    campaign                7
38                  continent                6
31             deviceCategory                3
21                   isMobile                2
15               campaignCode                2
12               isTrueDirect                2
36                  newVisits                2
35                    bounces                2
44                     cityId                1
47                  longitude                1
46                   latitude                1
24        mobileInputSelector                1
32                     visits                1
30           screenResolution                1
29               screenColors                1
28                   language                1
27               flashVersion                1
26  mobileDeviceMarketingName                1
25           mobileDeviceInfo                1
23          mobileDeviceModel                1
22       mobileDeviceBranding                1
20     operatingSystemVersion                1
18                browserSize                1
17             browserVersion                1
4        socialEngagementType                1
48            networkLocation                1

In [56]:
only_1_unique_value = df_n_unique_values.loc[df_n_unique_values['n_unique_values'] == 1]['column_name'].to_numpy()
df.drop(columns=only_1_unique_value, inplace=True, errors='ignore')
df

,channelGrouping,date,fullVisitorId,sessionId,visitId,visitNumber,visitStartTime,campaign,source,medium,...,bounces,newVisits,transactionRevenue,continent,subContinent,country,region,metro,city,networkDomain
0,Organic Search,20160902,9674781571160116268,9674781571160116268_1472804607,1472804607,1,1472804607,(not set),google,organic,...,1,1,NaN,Asia,Southeast Asia,Singapore,(not set),(not set),Singapore,unknown.unknown
1,Organic Search,20160902,8590648239310839049,8590648239310839049_1472835928,1472835928,1,1472835928,(not set),google,organic,...,1,1,NaN,Europe,Eastern Europe,Poland,not available in demo dataset,not available in demo dataset,not available in demo dataset,tpnet.pl
2,Affiliates,20160902,9772828344252850532,9772828344252850532_1472856802,1472856802,1,1472856802,Data Share Promo,Partners,affiliate,...,1,1,NaN,Americas,South America,Argentina,Buenos Aires,(not set),Buenos Aires,phonevision.com.ar
3,Organic Search,20160902,1350700416054916432,1350700416054916432_1472879649,1472879649,2,1472879649,(not set),google,organic,...,1,NaN,NaN,Americas,Northern America,United States,not available in demo dataset,not available in demo dataset,not available in demo dataset,comcast.net
4,Organic Search,20160902,1350700416054916432,1350700416054916432_1472829671,1472829671,1,1472829671,(not set),google,organic,...,NaN,1,NaN,Americas,Northern America,United States,not available in demo dataset,not available in demo dataset,not available in demo dataset,att.net
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12278,Social,20170104,7330357551242339916,7330357551242339916_1483540608,1483540608,1,1483540608,(not set),youtube.com,referral,...,1,1,NaN,Europe,Eastern Europe,Poland,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown
12279,Social,20170104,696320405243257438,0696320405243257438_1483580407,1483580407,1,1483580407,(not set),youtube.com,referral,...,1,1,NaN,Europe,Western Europe,Germany,not available in demo dataset,not available in demo dataset,not available in demo dataset,vodafone-ip.de
12280,Social,20170104,5437703324867866371,5437703324867866371_1483592122,1483592122,1,1483592122,(not set),youtube.com,referral,...,1,1,NaN,Asia,Southern Asia,India,not available in demo dataset,not available in demo dataset,not available in demo dataset,(not set)
12281,Social,20170104,8869363093179043393,8869363093179043393_1483601927,1483601927,2,1483601927,(not set),youtube.com,referral,...,NaN,NaN,NaN,Europe,Northern Europe,Lithuania,not available in demo dataset,not available in demo dataset,not available in demo dataset,cgates.lt
12282,Social,20170104,2905034275926274980,2905034275926274980_1483593737,1483593737,1,1483593737,(not set),youtube.com,referral,...,NaN,1,NaN,Africa,Southern Africa,South Africa,not available in demo dataset,not available in demo dataset,not available in demo dataset,xpressgt.co.za

## Ajuste de tipos de dados

In [57]:
df.dtypes

channelGrouping       object
date                   int64
fullVisitorId         uint64
sessionId             object
visitId                int64
visitNumber            int64
visitStartTime         int64
campaign              object
source                object
medium                object
keyword               object
isTrueDirect          object
referralPath          object
adContent             object
campaignCode          object
browser               object
operatingSystem       object
isMobile                bool
deviceCategory        object
hits                  object
pageviews             object
bounces               object
newVisits             object
transactionRevenue    object
continent             object
subContinent          object
country               object
region                object
metro                 object
city                  object
networkDomain         object
dtype: object

In [58]:
var_quant = ['bounces', 'hits', 'newVisits', 'transactionRevenue', 'pageviews']
for i in var_quant:
    df[i] = pd.to_numeric(df[i])

df.dtypes

channelGrouping        object
date                    int64
fullVisitorId          uint64
sessionId              object
visitId                 int64
visitNumber             int64
visitStartTime          int64
campaign               object
source                 object
medium                 object
keyword                object
isTrueDirect           object
referralPath           object
adContent              object
campaignCode           object
browser                object
operatingSystem        object
isMobile                 bool
deviceCategory         object
hits                    int64
pageviews               int64
bounces               float64
newVisits             float64
transactionRevenue    float64
continent              object
subContinent           object
country                object
region                 object
metro                  object
city                   object
networkDomain          object
dtype: object

# Ajuste de escala de _transactionRevenue_

In [61]:
1 - (df.transactionRevenue.isna().sum() / df.shape[0])

0.013351787022714334

In [62]:
df.transactionRevenue.fillna(0, inplace=True)

In [68]:
df.transactionRevenue = df.transactionRevenue / 10e5

# Feature Engineering

In [73]:
df_sum = df.groupby('fullVisitorId', as_index=False)[var_quant].sum()
df_sum.head()

      fullVisitorId  bounces  hits  newVisits  transactionRevenue  pageviews
0   231955209315461      1.0     4        1.0                 0.0          4
1   266926879733529      0.0    16        1.0                 0.0         12
2   852896709559982      0.0     3        1.0                 0.0          3
3  1676995035957087      1.0     1        1.0                 0.0          1
4  2365800130207040      1.0     1        1.0                 0.0          1

# Treinamento de baseline

## Split de dados

In [75]:
y = df_sum.transactionRevenue.copy()
X = df_sum.drop(columns=['transactionRevenue'])

In [76]:
from sklearn.model_selection import train_test_split

In [77]:
SEED = 42
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=SEED)

## Treinamento

In [78]:
from sklearn.linear_model import LinearRegression

In [80]:
reg = LinearRegression()
reg.fit(X_train, y_train)
y_pred = reg.predict(X=X_test)

In [81]:
resultados = pd.DataFrame()
resultados['revenue'] = y_test
resultados['predict'] = y_pred
resultados['erro'] = y_pred - y_test

      revenue   predict      erro
1078      0.0  1.334902  1.334902
4336      0.0  1.591622  1.591622
8966      0.0  2.012166  2.012166
5456      0.0  1.694803  1.694803
2407      0.0  1.417336  1.417336
...       ...       ...       ...
5579      0.0  1.706882  1.706882
1074      0.0  1.334333  1.334333
9299      0.0  2.043870  2.043870
3091      0.0  1.480476  1.480476
7822      0.0  1.909194  1.909194

[2999 rows x 3 columns]

In [82]:
resultados[resultados.revenue > 0]

      revenue   predict        erro
2150    67.19  1.395193  -65.794807
88     100.78  1.294118  -99.485882
7816    64.78  1.908369  -62.871631
1183   112.37  1.339357 -111.030643
9679    95.80  2.080499  -93.719501
4762   217.44  1.630480 -215.809520
2310   702.90  1.408975 -701.491025
349    278.03  1.302770 -276.727230
9901   362.84  2.099732 -360.740268
2823     9.16  1.457787   -7.702213
8485    27.19  1.968430  -25.221570
9052    83.96  2.020272  -81.939728
9254   144.97  2.040081 -142.929919
9780    67.12  2.088148  -65.031852
4818    19.99  1.637954  -18.352046
7334    64.94  1.863395  -63.076605
8610    16.99  1.981451  -15.008549
5792   372.65  1.725629 -370.924371
3387   306.72  1.505852 -305.214148
1413    23.99  1.349669  -22.640331
4993    23.97  1.651437  -22.318563
4938     1.99  1.646725   -0.343275
3885    33.59  1.551720  -32.038280
554    105.48  1.312168 -104.167832
6259   151.80  1.766612 -150.033388
4337    67.18  1.591666  -65.588334
8171    52.49  1.940603  -50.549397
8454    15.99  1.966043  -14.023957
6152   489.20  1.758556 -487.441444
3299   269.55  1.498161 -268.051839
3518    22.49  1.517382  -20.972618
3595    95.18  1.525146  -93.654854
9006    16.78  2.015878  -14.764122
1374   293.53  1.348050 -292.181950
8664   424.50  1.984970 -422.515030
5300   284.34  1.680016 -282.659984
4880    34.99  1.641759  -33.348241
3065    49.99  1.478212  -48.511788
2446   523.13  1.421787 -521.708213
8818    25.90  1.998635  -23.901365
5100     5.97  1.662313   -4.307687
2880    11.29  1.462881   -9.827119

In [86]:
from sklearn.metrics import mean_squared_error
import numpy as np

In [87]:
np.sqrt(mean_squared_error(y_pred=y_pred, y_true=y_test))

26.09216865387172

In [169]:
user_unique_visit = df.drop_duplicates(subset=['fullVisitorId', 'visitNumber'])
user_unique_visit

,channelGrouping,date,fullVisitorId,sessionId,visitId,visitNumber,visitStartTime,campaign,source,medium,...,bounces,newVisits,transactionRevenue,continent,subContinent,country,region,metro,city,networkDomain
0,Organic Search,20160902,9674781571160116268,9674781571160116268_1472804607,1472804607,1,1472804607,(not set),google,organic,...,1.0,1.0,0.0,Asia,Southeast Asia,Singapore,(not set),(not set),Singapore,unknown.unknown
1,Organic Search,20160902,8590648239310839049,8590648239310839049_1472835928,1472835928,1,1472835928,(not set),google,organic,...,1.0,1.0,0.0,Europe,Eastern Europe,Poland,not available in demo dataset,not available in demo dataset,not available in demo dataset,tpnet.pl
2,Affiliates,20160902,9772828344252850532,9772828344252850532_1472856802,1472856802,1,1472856802,Data Share Promo,Partners,affiliate,...,1.0,1.0,0.0,Americas,South America,Argentina,Buenos Aires,(not set),Buenos Aires,phonevision.com.ar
3,Organic Search,20160902,1350700416054916432,1350700416054916432_1472879649,1472879649,2,1472879649,(not set),google,organic,...,1.0,NaN,0.0,Americas,Northern America,United States,not available in demo dataset,not available in demo dataset,not available in demo dataset,comcast.net
4,Organic Search,20160902,1350700416054916432,1350700416054916432_1472829671,1472829671,1,1472829671,(not set),google,organic,...,NaN,1.0,0.0,Americas,Northern America,United States,not available in demo dataset,not available in demo dataset,not available in demo dataset,att.net
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12278,Social,20170104,7330357551242339916,7330357551242339916_1483540608,1483540608,1,1483540608,(not set),youtube.com,referral,...,1.0,1.0,0.0,Europe,Eastern Europe,Poland,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown
12279,Social,20170104,696320405243257438,0696320405243257438_1483580407,1483580407,1,1483580407,(not set),youtube.com,referral,...,1.0,1.0,0.0,Europe,Western Europe,Germany,not available in demo dataset,not available in demo dataset,not available in demo dataset,vodafone-ip.de
12280,Social,20170104,5437703324867866371,5437703324867866371_1483592122,1483592122,1,1483592122,(not set),youtube.com,referral,...,1.0,1.0,0.0,Asia,Southern Asia,India,not available in demo dataset,not available in demo dataset,not available in demo dataset,(not set)
12281,Social,20170104,8869363093179043393,8869363093179043393_1483601927,1483601927,2,1483601927,(not set),youtube.com,referral,...,NaN,NaN,0.0,Europe,Northern Europe,Lithuania,not available in demo dataset,not available in demo dataset,not available in demo dataset,cgates.lt
12282,Social,20170104,2905034275926274980,2905034275926274980_1483593737,1483593737,1,1483593737,(not set),youtube.com,referral,...,NaN,1.0,0.0,Africa,Southern Africa,South Africa,not available in demo dataset,not available in demo dataset,not available in demo dataset,xpressgt.co.za

In [172]:
user_last_visit = df.groupby('fullVisitorId', as_index=False).max('visitNumber')[['fullVisitorId', 'visitNumber']]
visits = pd.merge(user_last_visit, user_unique_visit, left_on=['fullVisitorId', 'visitNumber'],
                right_on=['fullVisitorId', 'visitNumber'], how='left')
visits

,fullVisitorId,visitNumber,channelGrouping,date,sessionId,visitId,visitStartTime,campaign,source,medium,...,bounces,newVisits,transactionRevenue,continent,subContinent,country,region,metro,city,networkDomain
0,231955209315461,2,Organic Search,20160927,231955209315461_1474986933,1474986933,1474986933,(not set),google,organic,...,NaN,NaN,0.0,Americas,Northern America,United States,Missouri,Kansas City MO,Kansas City,more.net
1,266926879733529,1,Organic Search,20170118,266926879733529_1484803608,1484803608,1484803608,(not set),google,organic,...,NaN,1.0,0.0,Asia,Southern Asia,India,Maharashtra,(not set),Mumbai,unknown.unknown
2,852896709559982,1,Organic Search,20170725,852896709559982_1501014397,1501014397,1501014397,(not set),google,organic,...,NaN,1.0,0.0,Americas,Northern America,United States,Georgia,Atlanta GA,Atlanta,att.net
3,1676995035957087,1,Organic Search,20170612,001676995035957087_1497299834,1497299834,1497299834,(not set),google,organic,...,1.0,1.0,0.0,Europe,Western Europe,Germany,not available in demo dataset,not available in demo dataset,not available in demo dataset,(not set)
4,2365800130207040,1,Social,20160904,0002365800130207040_1472974804,1472974804,1472974804,(not set),youtube.com,referral,...,1.0,1.0,0.0,Europe,Eastern Europe,Ukraine,not available in demo dataset,not available in demo dataset,not available in demo dataset,wildpark.net
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,9996691020299725061,3,Referral,20161221,9996691020299725061_1482388264,1482388264,1482388264,(not set),mall.googleplex.com,referral,...,NaN,NaN,0.0,Americas,Northern America,United States,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown
9992,9996793353803109760,1,Social,20161130,9996793353803109760_1480566609,1480566609,1480566609,(not set),youtube.com,referral,...,1.0,1.0,0.0,Asia,Southeast Asia,Thailand,Nakhon Ratchasima,(not set),(not set),3bb.co.th
9993,9997125062030599880,1,Organic Search,20170112,9997125062030599880_1484217422,1484217422,1484217422,(not set),google,organic,...,NaN,1.0,0.0,Americas,Northern America,United States,not available in demo dataset,not available in demo dataset,not available in demo dataset,(not set)
9994,9997464307347866920,1,Organic Search,20170314,9997464307347866920_1489504370,1489504370,1489504370,(not set),google,organic,...,1.0,1.0,0.0,Europe,Southern Europe,Greece,not available in demo dataset,not available in demo dataset,not available in demo dataset,(not set)
9995,9999355589118867468,2,Organic Search,20170529,9999355589118867468_1496052473,1496052473,1496052473,(not set),google,organic,...,1.0,NaN,0.0,Asia,Southeast Asia,Thailand,Bangkok,(not set),Bangkok,3bb.co.th

In [173]:
user_first_visit = df.groupby('fullVisitorId', as_index=False).min('visitNumber')[['fullVisitorId', 'visitNumber']]
user_first_visit.set_index('fullVisitorId', inplace=True)
user_first_visit.head()

                  visitNumber
fullVisitorId
231955209315461             1
266926879733529             1
852896709559982             1
1676995035957087            1
2365800130207040            1

In [174]:

visits = visits.join(user_first_visit, how='left', on='fullVisitorId', rsuffix='_first')
visits

,fullVisitorId,visitNumber,channelGrouping,date,sessionId,visitId,visitStartTime,campaign,source,medium,...,newVisits,transactionRevenue,continent,subContinent,country,region,metro,city,networkDomain,visitNumber_first
0,231955209315461,2,Organic Search,20160927,231955209315461_1474986933,1474986933,1474986933,(not set),google,organic,...,NaN,0.0,Americas,Northern America,United States,Missouri,Kansas City MO,Kansas City,more.net,1
1,266926879733529,1,Organic Search,20170118,266926879733529_1484803608,1484803608,1484803608,(not set),google,organic,...,1.0,0.0,Asia,Southern Asia,India,Maharashtra,(not set),Mumbai,unknown.unknown,1
2,852896709559982,1,Organic Search,20170725,852896709559982_1501014397,1501014397,1501014397,(not set),google,organic,...,1.0,0.0,Americas,Northern America,United States,Georgia,Atlanta GA,Atlanta,att.net,1
3,1676995035957087,1,Organic Search,20170612,001676995035957087_1497299834,1497299834,1497299834,(not set),google,organic,...,1.0,0.0,Europe,Western Europe,Germany,not available in demo dataset,not available in demo dataset,not available in demo dataset,(not set),1
4,2365800130207040,1,Social,20160904,0002365800130207040_1472974804,1472974804,1472974804,(not set),youtube.com,referral,...,1.0,0.0,Europe,Eastern Europe,Ukraine,not available in demo dataset,not available in demo dataset,not available in demo dataset,wildpark.net,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,9996691020299725061,3,Referral,20161221,9996691020299725061_1482388264,1482388264,1482388264,(not set),mall.googleplex.com,referral,...,NaN,0.0,Americas,Northern America,United States,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown,3
9992,9996793353803109760,1,Social,20161130,9996793353803109760_1480566609,1480566609,1480566609,(not set),youtube.com,referral,...,1.0,0.0,Asia,Southeast Asia,Thailand,Nakhon Ratchasima,(not set),(not set),3bb.co.th,1
9993,9997125062030599880,1,Organic Search,20170112,9997125062030599880_1484217422,1484217422,1484217422,(not set),google,organic,...,1.0,0.0,Americas,Northern America,United States,not available in demo dataset,not available in demo dataset,not available in demo dataset,(not set),1
9994,9997464307347866920,1,Organic Search,20170314,9997464307347866920_1489504370,1489504370,1489504370,(not set),google,organic,...,1.0,0.0,Europe,Southern Europe,Greece,not available in demo dataset,not available in demo dataset,not available in demo dataset,(not set),1
9995,9999355589118867468,2,Organic Search,20170529,9999355589118867468_1496052473,1496052473,1496052473,(not set),google,organic,...,NaN,0.0,Asia,Southeast Asia,Thailand,Bangkok,(not set),Bangkok,3bb.co.th,1

In [175]:
visits = pd.merge(visits, user_unique_visit, left_on = ['fullVisitorId', 'visitNumber_first'],
                right_on=['fullVisitorId', 'visitNumber'], how='left', suffixes=['_last','_first'])

In [176]:
visits

,fullVisitorId,visitNumber_last,channelGrouping_last,date_last,sessionId_last,visitId_last,visitStartTime_last,campaign_last,source_last,medium_last,...,bounces_first,newVisits_first,transactionRevenue_first,continent_first,subContinent_first,country_first,region_first,metro_first,city_first,networkDomain_first
0,231955209315461,2,Organic Search,20160927,231955209315461_1474986933,1474986933,1474986933,(not set),google,organic,...,1.0,1.0,0.0,Americas,Northern America,United States,Missouri,Kansas City MO,Kansas City,more.net
1,266926879733529,1,Organic Search,20170118,266926879733529_1484803608,1484803608,1484803608,(not set),google,organic,...,NaN,1.0,0.0,Asia,Southern Asia,India,Maharashtra,(not set),Mumbai,unknown.unknown
2,852896709559982,1,Organic Search,20170725,852896709559982_1501014397,1501014397,1501014397,(not set),google,organic,...,NaN,1.0,0.0,Americas,Northern America,United States,Georgia,Atlanta GA,Atlanta,att.net
3,1676995035957087,1,Organic Search,20170612,001676995035957087_1497299834,1497299834,1497299834,(not set),google,organic,...,1.0,1.0,0.0,Europe,Western Europe,Germany,not available in demo dataset,not available in demo dataset,not available in demo dataset,(not set)
4,2365800130207040,1,Social,20160904,0002365800130207040_1472974804,1472974804,1472974804,(not set),youtube.com,referral,...,1.0,1.0,0.0,Europe,Eastern Europe,Ukraine,not available in demo dataset,not available in demo dataset,not available in demo dataset,wildpark.net
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,9996691020299725061,3,Referral,20161221,9996691020299725061_1482388264,1482388264,1482388264,(not set),mall.googleplex.com,referral,...,NaN,NaN,0.0,Americas,Northern America,United States,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown
9992,9996793353803109760,1,Social,20161130,9996793353803109760_1480566609,1480566609,1480566609,(not set),youtube.com,referral,...,1.0,1.0,0.0,Asia,Southeast Asia,Thailand,Nakhon Ratchasima,(not set),(not set),3bb.co.th
9993,9997125062030599880,1,Organic Search,20170112,9997125062030599880_1484217422,1484217422,1484217422,(not set),google,organic,...,NaN,1.0,0.0,Americas,Northern America,United States,not available in demo dataset,not available in demo dataset,not available in demo dataset,(not set)
9994,9997464307347866920,1,Organic Search,20170314,9997464307347866920_1489504370,1489504370,1489504370,(not set),google,organic,...,1.0,1.0,0.0,Europe,Southern Europe,Greece,not available in demo dataset,not available in demo dataset,not available in demo dataset,(not set)
9995,9999355589118867468,2,Organic Search,20170529,9999355589118867468_1496052473,1496052473,1496052473,(not set),google,organic,...,1.0,1.0,0.0,Asia,Southeast Asia,Thailand,Bangkok,(not set),Bangkok,3bb.co.th

In [177]:
for i in var_quant:
    visits.drop(columns = [i+'_first'], inplace=True)
    visits.drop(columns = [i+'_last'], inplace=True)

In [178]:
visits.drop(columns = ['sessionId_last', 'visitId_last', 'sessionId_first', 'visitId_first'], inplace=True, errors='ignore')

In [179]:
visits

,fullVisitorId,visitNumber_last,channelGrouping_last,date_last,visitStartTime_last,campaign_last,source_last,medium_last,keyword_last,isTrueDirect_last,...,operatingSystem_first,isMobile_first,deviceCategory_first,continent_first,subContinent_first,country_first,region_first,metro_first,city_first,networkDomain_first
0,231955209315461,2,Organic Search,20160927,1474986933,(not set),google,organic,(not provided),True,...,iOS,True,tablet,Americas,Northern America,United States,Missouri,Kansas City MO,Kansas City,more.net
1,266926879733529,1,Organic Search,20170118,1484803608,(not set),google,organic,(not provided),NaN,...,Windows,False,desktop,Asia,Southern Asia,India,Maharashtra,(not set),Mumbai,unknown.unknown
2,852896709559982,1,Organic Search,20170725,1501014397,(not set),google,organic,(not provided),NaN,...,iOS,True,mobile,Americas,Northern America,United States,Georgia,Atlanta GA,Atlanta,att.net
3,1676995035957087,1,Organic Search,20170612,1497299834,(not set),google,organic,(not provided),NaN,...,Android,True,mobile,Europe,Western Europe,Germany,not available in demo dataset,not available in demo dataset,not available in demo dataset,(not set)
4,2365800130207040,1,Social,20160904,1472974804,(not set),youtube.com,referral,NaN,NaN,...,Windows,False,desktop,Europe,Eastern Europe,Ukraine,not available in demo dataset,not available in demo dataset,not available in demo dataset,wildpark.net
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,9996691020299725061,3,Referral,20161221,1482388264,(not set),mall.googleplex.com,referral,NaN,True,...,Macintosh,False,desktop,Americas,Northern America,United States,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown
9992,9996793353803109760,1,Social,20161130,1480566609,(not set),youtube.com,referral,NaN,NaN,...,Android,True,mobile,Asia,Southeast Asia,Thailand,Nakhon Ratchasima,(not set),(not set),3bb.co.th
9993,9997125062030599880,1,Organic Search,20170112,1484217422,(not set),google,organic,(not provided),NaN,...,iOS,True,mobile,Americas,Northern America,United States,not available in demo dataset,not available in demo dataset,not available in demo dataset,(not set)
9994,9997464307347866920,1,Organic Search,20170314,1489504370,(not set),google,organic,(not provided),NaN,...,Android,True,mobile,Europe,Southern Europe,Greece,not available in demo dataset,not available in demo dataset,not available in demo dataset,(not set)
9995,9999355589118867468,2,Organic Search,20170529,1496052473,(not set),google,organic,(not provided),NaN,...,Windows,False,desktop,Asia,Southeast Asia,Thailand,Bangkok,(not set),Bangkok,3bb.co.th